li {
	list-style-type: none;
}
a:hover {
    text-decoration: none;
}
.nav-linkactive {
    color: #DCDCDC;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    padding-right: .5rem;
    padding-left: .5rem;
}
a.nav-linkactive:hover {
    color: #C0C0C0;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 6;
}
.parametre {
	width: 30px;
} 
