/* Image de fond du site */
body {
    background-image: url(image/fondcarreaux.jpeg);
    background-size: auto auto;
}

/***************************************************************************/
/****/
/* Police d'écriture du site */
/****/
@font-face {
    font-family: 'FredokaOne';
    src: url('police/FredokaOne-Regular.ttf');
}
body {
    font-family: 'FredokaOne';
}
h1 {
    font-family: 'FredokaOne';
}
h2 {
    font-family: 'FredokaOne';
}
h3 {
    font-family: 'FredokaOne';
}
h4 {
    font-family: 'FredokaOne';
}
h5 {
    font-family: 'FredokaOne';
}
h6 {
    font-family: 'FredokaOne';
}

/*********************************************************************************/
/****/
/* Header du site */
/****/
.jumbotron {
    border-radius: 0rem;
    background: transparent;
}
.header {
    background-image: url(image/top_bg1.png);
    background-color: black;
    background-size: 100% 100%;
    margin-bottom: 0;
}

/*********************************************************************************/
/****/
/* Colonne pour article */
/****/
.row {
    color: black;
    position: static;
}

/*********************************************************************************/
/****/
/* Article */
/****/
.container {
    margin-top: 30px;
}
.article {
    background-image: url(image/PageViergeCOC.png);
    background-size: 100% 100%;
    background-color: none;
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    position: static;
}
.image {
    margin-top: 7rem;
    margin-bottom: auto;
    width: auto;
    height: 100%
}

/*********************************************************************************/
/****/
/* Création questionnaire */
/****/

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.GrandContainer {
	display: flex;
	justify-content: space-between;
}

div.containerFormulaire {
	width: 50%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.Reponse {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.answer {
  display: none;
}

#answer-2:checked ~ .answer-2,
#answer-3:checked ~ .answer-3,
#answer-4:checked ~ .answer-4 {
  display: block;
}

#answer-2:checked ~ .answer-1 label,
#answer-3:checked ~ .answer-2 label,
#answer-4:checked ~ .answer-3 label {
  display: none;
}

div.titre {
	padding: 20px;
	padding-bottom: 40px;
	text-align: left;
}



.ContainerVote {
	width: 45%;
	background-color: white;
	padding: 30px;
	width: 100%%;
}

.Question {
	text-align: center;
	border-bottom: 1px solid red;
	padding-bottom: 30px;
}

.Reponses {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
}

.Button {
	display: flex;
	justify-content: center;
}

.Boutton {
	border: 1px solid black;
	background-color: white;
}

.Boutton:hover {
	background-color: whitesmoke;
}

.Attention {
	padding-top: 20px;
	text-align: center;
	color: red;
}

/*********************************************************************************/
/****/
/* Footer */
/****/
.footer {
    background-color: black;
    color: white;
    margin-bottom: 0;
    text-align: center;
	padding: 1rem 2rem;
}
.footer p {
	margin-bottom: 0;
}

/*********************************************************************************/
/****/
/* Autres classes */
/****/
.fondpapyrus {
    background-image: url(image/background_menu_option4.png);
    background-size: 100% 100%;
    background-color: none;
}
.fondpapyrus2 {
    background-image: url(image/PageViergeCOC.png);
    background-size: 100% 100%;
    background-color: none;
}
.fond {
    background-image: url(image/fondbois3.png);
	background-size: 30% 50%;
	background-repeat: repeat;
}


/*********************************************************************************/
/****/
/* Media queries pour la responsive */
/****/
@media screen and (max-width: 575px)  {
    .article {margin-left: auto; margin-right: auto; width: 90%;}
}

@media screen and (max-width: 1199px) {
    .image {display: none;}
}
@media screen and (max-width: 400px) {
    .w3-animate-zoom {animation: none;}
}











